{% extends "base.html" %}
{%block title%}INICIO{%endblock%}
{% block importaciones %}

{% endblock %}

{%block css%}
<style>
  .jumbotron h1{
      color:#0CA6B0;
  }
  .jumbotron{
    text-align: center;
  }

  .modal-dialog{
    margin-top: 66px;
  }
  .modal-content{
    background-color: #eee;
  }
  
  
</style>
{%endblock%}

{%block content%}
<div class="container">
      
      <div class="jumbotron">
        <p class="centerButtons">
          <h1 class="carryColor">Bienvenido a <b><i>Carry It!</i></b></h1>
          <h2><b>Tu centro de soluciones para la entrega de encomientas y trámites personales</b></h2>
          <h3>¿En qué te podemos servir?</h3>
          <div id="buttonsRedirect">
          <p>
          <a href="/solicitudes/"><button type="button" class="btn btn-lg btn-success">Crear solicitud</button></a>

          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <a href="/solicitudes/lista/"><button type="button" class="btn btn-lg btn-success">Mostrar solicitudes</button></a>
          <a href="/admin/"><button type="button" class="btn btn-lg btn-warning">Admin</button></a>
          {% endif %}
          {% else %}
          <a href="/sign/client/"><button type="button" class="btn btn-lg btn-warning">Registrarse</button></a>
          {% endif %}

          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Busca por Guía
          </button>
<!-- modal form, busqueda por guia -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Busca por guia</h4>
                </div>
                <div class="modal-body">
                            <form method="get" action="/solicitudes/busca/get_guia" id="busqueda_form" >
                            <!-- <form method="get" action="/solicitudes/comentarios/" id="busqueda_form" > -->
                              <input type="text" class="form-control" name="busqueda" placeholder="Busca por guia" id="busqueda"/>
                              <input type="submit" class="btn btn-primary" value="Buscar"  />
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </form>
                            <div id="dialog"></div>
                            <div id="divId">
                            </div>

                </div>
                
              </div>
            </div>
          </div>
<!-- modal form, busqueda por guia -->


          
          </p>
            
          </div>
      </p>
      </div>  
      
    </div>
{%endblock%}

{%block js%}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
window.onload = function() {
  document.getElementById('ini').className = 'active';
  $("#divId").css('display', 'none')
};


$("#busqueda_form").on("submit", function(e){
   e.preventDefault();
   var b = $("#busqueda").val();
   var url = $(this).attr("action");
   $.get(url + "?busqueda=" + b, function( data ) {
        console.log(data); // en data debe llegar la respuesta del view
        // alert(data);
        $("#dialog").html( data );
        var bguia = getUrlVars()["busqueda"];
    var url = "/solicitudes/get_comentario_asJson/" + "?buscar=" + b;
    $("#divId").html("");
    $.getJSON(url, function(result){
        for(key in result) {
         if(result.hasOwnProperty(key)) {
          var value = result[key];
          for (i in value){
              $("#divId").append("<div class='fecha'>" + value[i].fecha + "<br /> </div>"); 
              $("#divId").append("<div class='comentario'>" + value[i].comentario + "." + " </div> ");
              $("#divId").css('display', 'block') 
            }
          }
        }
    });
    })

});
  function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');

            if($.inArray(hash[0], vars)>-1)
            {
                vars[hash[0]]+=","+hash[1];
            }
            else
            {
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
        }

        return vars;
    }
  </script>

{%endblock%}