{% extends "base.html" %}
{% block importaciones %}
<style>
      .jumbotron{
          max-width: 214px;
          margin-left: auto;
          margin-right: auto;
          padding-left: 20px;
    }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/sign/in/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
    </div>
    </div>
{% endblock %}

{% block js %}
<script>
    function hasHash(hash) {
        if(window.location.hash && window.location.hash == hash){
            return true;
        }
        else{
            return false;
        }
    }

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }


    $(document).ready(function(){
        var user = getUrlVars().username;
        if (typeof user != "undefined"){
            $("#username").val(user);
            $("#password").focus();
        }else{
            console.log("No se encontró la variable 'username' en la url");
        }
    });
</script>
{% endblock %}
