{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Registrarse{% endblock %}

{% block importaciones %}

{% endblock %}

{% block css %}
<style type="text/css">
  .form-control{
    width: 90%;
  }
  .btn-default{
    width: 100%;
  }
</style>
{% endblock %}


{%block content%}
    <div class="container">
        <div class="jumbotron">
        <p class="centerButtons">
        {% if request.user.is_superuser %}
          <h1>Ya estas registrado</h1>
            <h2>Si estas viendo esto por error, por favor cierra sesion y registrate.</h2>
            {% else %}
            
          Datos del usuario


            <form method="POST" action="">
            {% csrf_token %}
            {{clientform|bootstrap}}
            {{ClientProfile|bootstrap}}
      
            <input type="submit" class="btn btn-default" name="submit" value="Registrar">
            </form>
            {% endif %}
            
            
      </p>
      </div>  
    </div>

{%endblock%}

{%block js%}
  <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
   <script>
    window.onload = function() {
      document.getElementById('csol').className = 'active';

    };
  </script>
  
{%endblock%}