body{
	padding-top: 81px;

}
.centerButtons{
	text-align:center;
}

#LogoC{
	margin-top:-11px;
	width:78px;
}

.dropdown-menu-1{
    height: 70px;
    padding-top: 0px;
}
#confirmLogo{
	max-width: 300px;
}
.navbar{
	z-index: 9999999;
}

.navbar-form {  
	margin-top: 0px;
	margin-bottom: 0px;
}
