body{
	padding-top: 81px;

}
.centerButtons{
	text-align:center;
}

#LogoC{
	margin-top:-11px;
	width:78px;
}

.dropdown-menu-1{
    height: 70px;
    padding-top: 0px;
}
#confirmLogo{
	max-width: 300px;
}
.navbar{
	z-index: 9999999;
}

.navbar-form {  
	margin-top: 0px;
	margin-bottom: 0px;
}
navbar{
	background-color: #FFFFFF;
}
    .comentario{
    border-bottom-style: dotted;
    border-bottom-color: gray;
    color: black;
    font-size: x-large;
    }
    .fecha{
      font-size: smaller;
    }
    #divId{
    
    padding: 10px;
    border-style: outset;
    border-color: #eee;
    }