<body>
    <div class="container">
      <div class="jumbotron">
        <p class="centerButtons">
          Resultados para {{b}}
        </p>
        {% if solicitud %}
        <span>Solicitado por: {{ solicitud.nom_cliente }}</span><hr>
        <span>Solicitado: {{ solicitud.fecha_creacion }}</span><hr>
        <span>Estado: {{ solicitud.estado }}</span><hr>
        <span>Actualizado: {{ solicitud.fecha_modificacion }}</span><hr>
        <span>ID Encargado: {{ solicitud.mensajero }}</span><hr>
        <span>Observaciones: {{ solicitud.observaciones }}</span>

       
{% else %}
  <hr><span>No existe la guía: {{ b }}</span>
{% endif %}

          
      </div>  
    </div>
</body>

{%block js%}
<script>
    
    </script>
{% endblock %}