{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Realizar solicitud{% endblock %}

{% block importaciones %}

{% endblock %}

{% block css %}
<style type="text/css">
  .form-control{
    width: 90%;
  }
</style>
{% endblock %}



{%block content%}
    <div class="container">
      <div class="jumbotron">
        <p class="centerButtons">
          Datos de la solicitud
          <form action="#" method="post">{% csrf_token %}
            <ul>

            {{ form|bootstrap }}
            
          
            </ul>
            <input type="submit" class="btn btn-default" name="submit" value="Crear Solicitud">
            </form>
      </p>
      </div>  
    </div>
{%endblock%}

{%block js%}
  <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <script>
    window.onload = function() {
      document.getElementById('csol').className = 'active';
    };
  </script>
{%endblock%}