{% extends "base.html" %}

{%block css%}
label{
  min-width:117px;

}
textarea{
  height: 28px;
}
li{
  ;
  height: 28px;
}
{%endblock%}

{%block content%}
<div class="container">
      <div class="jumbotron">
        <p class="centerButtons">
          Datos de la solicitud
          <form action="#" method="post">{% csrf_token %}
            <ul>

            {{ form.as_ul }}

            </ul>

            <input type="submit" name="submit" value="Crear Solicitud">
            </form>
      </p>
      </div>  
    </div>
{%endblock%}

{%block js%}
{%endblock%}