{% extends "base.html" %}
{% load bootstrap %}

{%block title%}Lista Solicitudes{%endblock%}

{% block importaciones %}
{%endblock%}

{%block css%}
  <style type="text/css">
    .form-control{
      width: 90%;
    }
  </style>
{%endblock%}


{%block content%}
    <div class="container">
      <div class="jumbotron">
        <p class="centerButtons">
          Solicitudes por asignarr
        </p>
        {% if request.user.groups.all.0.name == 'Administrador' %}
          <table id="tableAdmin" >
            <thead>
              <tr>
                  <th># Guía</th>
                  <th>Solicitado</th>
                  <th>Estado</th>
              </tr>
            </thead>
          </table>

      </div>  
    </div>

        

                    {% endif %}

                </div>  
              </div>
{%endblock%}

{%block js%}
  <script>
    $(document).ready(function() {
           $('#tableAdmin').dataTable( {
               "processing": true,
               "ajax": {
                   "processing": true,
                   "url": "{% url 'solicitudes:listaadminjs' %}",
               },
               "columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return data + '   ' +'<button type="submit" class="btn btn-default btn-right glyphicon glyphicon-eye-open" onClick="revisar(this)"></button>'
                },
                "targets": 1
            },
                        // { "visible": false,  "targets": [ 2 ] }
        ],
               "columns": [
                       { "data": "guia" },
                       { "data": "fecha_creacion" },
                       { "data": "estado" }

                   ]
           } );
       } );

        $(document).ready(function() {
           $('#tableMsj').dataTable( {
               "processing": true,
               "ajax": {
                   "processing": true,
                   "url": "{% url 'solicitudes:listas' %}",
               },
               "columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return data + '   ' +'<button type="button" class="btn btn-default btn-right" onClick="takeData(this)">Tomar</button>'
                },
                "targets": 1
            },
        ],
               "columns": [
                       { "data": "guia" },
                       { "data": "estado" }

                   ]
           } );
       } );

      function takeData(dato) {
        var Dato = $(dato).parent().parent().find(".sorting_1").html(); 
        mensajero = {{ request.user.pk }};
        var url = "/solicitudes/asignarme"
        window.location.replace(url+"?busqueda=" + Dato)    
        }
    </script>

  <script>
    window.onload = function() {
      document.getElementById('lsol').className = 'active';
    };
  </script>

{%endblock%}