{% extends "base.html" %}
{% load bootstrap %}

{%block title%}
Lista Solicitudes
{%endblock%}
{% block importaciones %}

    {% endblock %}

{%block css%}
.form-control{
  width: 90%;
}
{%endblock%}

{%block content%}



<div class="container">
      <div class="jumbotron">
        <p class="centerButtons">
          Lista de solicitudes
          <form action="#" method="get">{% csrf_token %}
            <ul>

            {{ forma.as_table }}
            
          
            </ul>
            <input type="get" class="btn btn-default" name="get" value="Mostrar">
            </form>
          
      </p>
      </div>  
    </div>
{%endblock%}

{%block js%}
{%endblock%}