{% extends "base.html" %}
{% load bootstrap %}

{%block title%}
Lista Solicitudes
{%endblock%}
{% block importaciones %}


{%endblock%}

{%block css%}
.form-control{
  width: 90%;
}


{%endblock%}



{%block content%}



<div class="container">
      <div class="jumbotron">
        <p class="centerButtons">
          Lista de solicitudes
          
          <table id="table" >
              <tr>
                  <th>Direccion Origen</th>
                  <th>Tipo</th>
                  <th>Nombre</th>
                  <th>Direccion Destino</th>
                  <th>Estado</th>

              </tr>
          </table>
      </p>
      </div>  
    </div>
{%endblock%}

{%block js%}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="jquery-1.11.3.min.js"></script>


<script>
  $(document).ready(function() {
         $('#table').dataTable( {


             "processing": true,
             "ajaxsource": {
                 "processing": true,
                 "url": "{% url 'listas' %}",
                 "dataSrc": ""
             },

             "columns": [
                     { "data": "dir_origen" },
                     { "data": "tipo" },
                     { "data": "nom_cliente" },
                     { "data": "dir_destino" },
                     { "data": "estado" }
                     
                 ]
         } );
     } );
  </script>

<script>
window.onload = function() {
  document.getElementById('lsol').className = 'active';
};



</script>

{%endblock%}