{% extends "base.html" %}

{% block title %} Solicitudes {% endblock %}

{% block content %}
 <div class="container">

      <div class="jumbotron">
        <img  src="../public/logo.png">
          <h1 style="display:inline;"> ¡Bienvenidos a Carry It!</h1>
              <p>Indica si deseas crear una solicitud o mostrar la lista de solicitudes pendientes</p>
              <p class="centerButtons">
                
                <a href="solicitud"><button  type="button" class="btn btn-lg btn-success">Crear Solicitud</button></a>
                <a href=""><button type="button" class="btn btn-lg btn-info">Listar solicitud</button></a>
              </ul>
              </p>
        </div>

    </div>
{% endblock %}